---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Snake from "../components/Snake.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="title">Hiya, I'm Michael 👋</h1>
		</main>
		<Footer />
	</body>
</html>

<style>
	main {
		height: 60vh;
		display: grid;
		place-content: center;
	}
	.title {
		text-align: center;
	}
</style>
